<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Document{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'icons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'icons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'icons/site.webmanifest' %}">

    <style>
        footer {
            font-size: 1.1rem;
        }
        #footer-right {
            text-align: left;
            display: flex; 
            gap: 24px;
        }
    </style>
    {% block extra_styles %}

    {% endblock %}
    
</head>
<body>

    {% for message in messages %}
        <div class="animated-toast toast-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
    <header class="site-header">
        <nav class="main-nav">
            <h3 class="logo"><a href="{% url 'home' %}">NK.</a></h3>

            <ul class="nav-links">
                <li><a href="{% url 'home' %}#project-section">Projects</a></li>
                <li><a href="{% url 'home' %}#about-section">About Me</a></li>
{#                <li><a href="#">Blogs</a></li>#}
                <li><a href="#footer-section">Contact Me</a></li>
            </ul>
        </nav>
    </header>
    <div class="blog-content">
        {% block content %}
        
        {% endblock %}
        <hr>
    </div>
</body>
<footer id="footer-section">
    <div id="footer-left">
        <span>&copy; Navanith Kumar. All rights reserved.</span>
    </div>
    <div id="footer-right">
        <a href="https://github.com/ntpai" target="_blank">
            <img src="{% static 'icons/github.png' %}" alt="Github">
        </a>
        <a href="mailto:navanithkumartpai@outlook.com" target="_blank">
            <img src="{% static 'icons/letter.png' %}" alt="Github">
        </a>
        <a href="#" target="_blank">
            <img src="{% static 'icons/linkedin.png' %}" alt="Github">
        </a>
    </div>
</footer>
</html>